body {
  display: flex;
  margin: 0;
}

/*TYPOGRAPHY*/
h1, h2, h3, h4, h5, h6, p, a, button, input, table {
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-indent: -9999px;
}

h2 {
  color: #354052;
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 10px;
}

h3 {
  color: #354052;
  font-size: 36px;
  margin: 0;
}

h4 {
  color: #a9b4c6;
  font-size: 14px;
  font-weight: 400;
  margin: 10px 10px 10px 0;
}

h5 {
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

h6 {
  color: #a9b4c6;
  font-size: 16px;
  font-weight: 400;
  margin: 10px;
}

p {
  font-size: 14px;
  line-height: 145%;
  color: #6D6F70;
  margin: 0;
}

a {
  text-decoration: none;
  color: #6D6F70;
  font-size: 14px;
  font-weight: 700;
}

/*PSEUDO CLASSES*/
a:hover {
  color: #354052;
}

button:hover {}

.selected {}

/*ELEMENTS*/
/*NAV ASIDE CONTENT*/
.nav-aside {
  background-color: #354052;
  width: 15%;
}

.recruiter-block {
  width: 100%;
  border-bottom: 2px solid #2d3849;
  margin: 40px 0 0 0;
  padding: 0 0 20px 0;
}

.recruiter-image {
  height: 100px;
  width: 100px;
  background: url(images/recruiter.jpg) no-repeat;
  background-size: cover;
  border-radius: 100%;
  margin: auto;
}

.recruiter-info {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.recruiter-block:hover .recruiter-name {
  color: #ffffff;
}

.recruiter-dropdown {
  background: url(images/recruiter-dropdown.svg) no-repeat;
  background-size: cover;
  height: 15px;
  width: 20px;
}

.recruiter-block:hover .recruiter-dropdown {
  background: url(images/recruiter-dropdown-hover.svg) no-repeat;
  background-size: cover;
}

.nav-main {
  max-width: 100%;
  border-bottom: 2px solid #2d3849;
  margin-top: 30px;
  padding: 0 20px 20px 30px;
}

.nav-link {
  color: #a9b4c6;
  font-size: 14px;
  font-weight: 700;
  line-height: 300%;
  text-transform: uppercase;
  margin: 0 0 0 15px;
}

.nav-main-content {
  display: flex;
  align-items: center;
}

.nav-main-content:hover .nav-link {
  color: #ffffff;
}

.nav-icon {
  height: 18px;
  width: 18px;
}

.icon-home {
  background: url(images/aside-sprites.png) no-repeat 0 0;
  background-size: cover;
}

.nav-home:hover .icon-home {
  background: url(images/aside-sprites.png) no-repeat 0 -20px;
  background-size: cover;
}

.icon-jobs {
  background: url(images/aside-sprites.png) no-repeat 0 -40px;
  background-size: cover;
}

.nav-jobs:hover .icon-jobs {
  background: url(images/aside-sprites.png) no-repeat 0 -60px;
  background-size: cover;
}

.icon-resumes {
  background: url(images/aside-sprites.png) no-repeat 0 -80px;
  background-size: cover;
}

.nav-resumes:hover .icon-resumes {
  background: url(images/aside-sprites.png) no-repeat 0 -100px;
  background-size: cover;
}

.icon-skills {
  background: url(images/aside-sprites.png) no-repeat 0 -120px;
  background-size: cover;
}

.nav-skills:hover .icon-skills {
  background: url(images/aside-sprites.png) no-repeat 0 -140px;
  background-size: cover;
}

.icon-calendar {
  background: url(images/aside-sprites.png) no-repeat 0 -161px;
  background-size: cover;
}

.nav-calendar:hover .icon-calendar {
  background: url(images/aside-sprites.png) no-repeat 0 -181px;
  background-size: cover;
}

.nav-admin {
  max-width: 100%;
  border-bottom: 2px solid #2d3849;
  margin-top: 30px;
  padding-bottom: 20px;
}

.nav-admin h4 {
  margin-left: 30px;
}

.nav-admin-content {
  display: flex;
  align-items: center;
  padding: 0 0 0 30px;
}

.nav-admin-content:hover .nav-link {
  color: #ffffff;
}

.icon-users {
  background: url(images/aside-sprites.png) no-repeat 0 -205px;
  background-size: cover;
}

.nav-users:hover .icon-users {
  background: url(images/aside-sprites.png) no-repeat 0 -225px;
  background-size: cover;
}

.icon-locations {
  background: url(images/aside-sprites.png) no-repeat 0 -245px;
  background-size: cover;
}

.nav-locations:hover .icon-locations {
  background: url(images/aside-sprites.png) no-repeat 0 -265px;
  background-size: cover;
}

.icon-archenemies {
  background: url(images/aside-sprites.png) no-repeat 0 -285px;
  background-size: cover;
}

.nav-archenemies:hover .icon-archenemies {
  background: url(images/aside-sprites.png) no-repeat 0 -305px;
  background-size: cover;
}

.nav-selected {
  background-color: #30394A;
  border-left: 5px solid #00C5ED;
}

.nav-listings {
  padding-left: 25px;
}

.nav-link-listings {
  color: #ffffff;
}

.icon-listings {
  background: url(images/aside-sprites.png) no-repeat 0 -348px;
  background-size: cover;
}

.nav-listings:hover .icon-listings {
  background: url(images/aside-sprites.png) no-repeat 0 -348px;
  background-size: cover;
}

.icon-social {
  background: url(images/aside-sprites.png) no-repeat 0 -367px;
  background-size: cover;
}

.nav-social:hover .icon-social {
  background: url(images/aside-sprites.png) no-repeat 0 -387px;
  background-size: cover;
}

.nav-categories {
  max-width: 100%;
  margin-top: 30px;
  padding: 0 20px 20px 30px;
}

.checkboxes {
  display: flex;
  align-items: center;
}

.checkboxes:hover .nav-link {
  color: #ffffff;
}

.box-icon {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

.checked {
  color: #ffffff;
}

.sidekicks {
  background: url(images/checkbox-sprites.png) no-repeat 0 0;
  background-size: cover;
}

.henchmen {
  background: url(images/checkbox-sprites.png) no-repeat 0 -27px;
  background-size: cover;
}

.goons {
  background: url(images/checkbox-sprites.png) no-repeat 0 -55px;
  background-size: cover;
}

.cannon-fodder {
  background: url(images/checkbox-sprites.png) no-repeat 0 -80px;
  background-size: cover;
  margin-right: 15px;
}

.long-link {
  white-space: wrap;
  overflow: hidden;
  text-overflow: clip;
  margin: 0;
  max-width: 90%;
}

/*MAIN CONTENT*/
.main {
  min-height: 100vh;
  max-width: 85%;
}

/*TOP NAV CONTENT*/
.top-nav {
  display: flex;
  width: 100%;
  height: 80px;
}

.main-icon {
  height: 30px;
  width: 30px;
}

.top-buttons {
  display: inline-block;
  height: 100%;
  width: 80px;
  border-bottom: 1px solid #e6e9ef;
}

.dropdown-menu {
  border-right: 1px solid #e6e9ef;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger {
  height: 20px;
  width: 30px;
  background: url(images/hamburger-sprites.png) no-repeat 0 0;
  background-size: cover;
  margin: auto;
}

.dropdown-menu:hover .hamburger {
  background: url(images/hamburger-sprites.png) no-repeat 0 -27px;
  background-size: cover;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-grow: 2;
  border-right: 1px solid #e6e9ef;
  border-bottom: 1px solid #e6e9ef;
}

.search {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: url(images/top-nav-sprites.png) no-repeat 0 0;
  background-size: cover;
  margin: 0 10px 0 20px;
}

.search-bar:hover .search {
  background: url(images/top-nav-sprites.png) no-repeat 0 -26px;
  background-size: cover;
}

.search-field {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  height: 50%;
  flex-grow: 2;
  border: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add-new {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #e6e9ef;
}

.add-new:hover {
  background-color: #00C5ED;
}

.plus {
  background: url(images/top-nav-sprites.png) no-repeat 0 -80px;
  background-size: cover;
}

.add-new:hover .plus {
  background: url(images/top-nav-sprites.png) no-repeat 0 -120px;
  background-size: cover;
}

.pulse-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #e6e9ef;
}

.pulse-button:hover {
  background-color: #00C5ED;
}

.pulse {
  height: 40px;
  width: 40px;
  background: url(images/top-nav-sprites.png) no-repeat 0 -212px;
  background-size: cover;
}

.pulse-button:hover .pulse {
  background: url(images/top-nav-sprites.png) no-repeat 0 -264px;
  background-size: cover;
}

.grid-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-button:hover {
  background-color: #00C5ED;
}

.grid {
  background: url(images/top-nav-sprites.png) no-repeat 0 -240px;
  background-size: cover;
}

.grid-button:hover .grid {
  background: url(images/top-nav-sprites.png) no-repeat 0 -280px;
  background-size: cover;
}

/*PAGE INFO CONTENT*/
.page-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  padding: 20px;
}

.page-title-contents {
  margin-left: 30px;
  margin-bottom: 15px;
}

.location-info {
  display: flex;
  align-items: bottom;
}

.location-dark {
  height: 20px;
  width: 20px;
  background: url(images/location-dark.svg) no-repeat;
  background-size: cover;
  margin-right: 5px;
}

.location-link {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #00C5ED;
  margin-left: 5px;
}

.location-link:hover {
  color: #68D152;
}

.page-buttons {
  margin-right: 20px;
}

.page-button {
  background-color: #ffffff;
  font-weight: 700;
  color: #354052;
  border: 2px solid #c8cbd1;
  border-radius: 25px;
  padding: 10px 15px;
  margin-left: 10px;
}

.page-icon {
  height: 20px;
  width: 20px;
}

.open-button-text {
  display: inline-block;
  vertical-align: top;
  margin: 3px 5px 0 0 ;
}

.green-dot {
  display: inline-block;
  background: url(images/info-sprites.png) no-repeat 0 0;
  background-size: cover;
}

.open-button:hover .open-button-text {
  color: #00C5ED;
}

.bookmark-icon {
  background: url(images/info-sprites.png) no-repeat 0 -22px;
  background-size: cover;
}

.bookmark-button:hover .bookmark-icon {
  background: url(images/info-sprites.png) no-repeat 0 -45px;
  background-size: cover;
}

.edit-icon {
  background: url(images/info-sprites.png) no-repeat 0 -68px;
  background-size: cover;
}

.edit-button:hover .edit-icon {
  background: url(images/info-sprites.png) no-repeat 0 -91px;
  background-size: cover;
}

.delete-icon {
  background: url(images/info-sprites.png) no-repeat 0 -113px;
  background-size: cover;
}

.delete-button:hover .delete-icon {
  background: url(images/info-sprites.png) no-repeat 0 -136px;
  background-size: cover;
}

/*PAGE TABS CONTENT*/
.page-tabs {
  border-bottom: 3px solid #e6e9ef;
  padding-left: 50px;
}

.tab {
  display: inline-block;
  margin-right: 50px;
  padding-bottom: 20px;
}

.this-tab {
  display: inline-block;
  color: #354052;
  border-bottom: 4px solid #00C5ED;
  margin-right: 50px;
  padding-bottom: 20px;
}

.page-content {
  background-color: #EDF2F6;
}

/*DATA VISUALIZATION*/
.data-visualization {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 300px;
  padding: 30px 0 30px 0;
}

.data-and-button {
  text-align: center;
}

.data-circles {
  display: flex;
  height: 200px;
  margin-bottom: 40px;
}

.circle {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 150px;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin: 20px;
}

.first {
  border: 10px solid #F7C350;
  border-bottom: 10px solid #C8CBD1
}

.second {
  border: 10px solid #68D152;
  border-bottom: 10px solid #C8CBD1
}

.third {
  border: 10px solid #00C5ED;
  border-bottom: 10px solid #C8CBD1;
}

.data-graph {
  text-align: center;
}

.graph {
  height: 200px;
  width: 400px;
  background: url(images/graph.png) no-repeat;
  background-size: cover;
  margin: 20px;
}

/*DIVIDER*/
.divider {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 0 40px 0;
}

.horizontal-rule {
  display: block;
  height: 4px;
  width: 45%;
  background-color: #E6E9EF;
  border: none;
}

.arrow {
  display: block;
  height: 30px;
  width: 30px;
  background: url(images/arrow-up.svg) no-repeat;
  background-size: cover;
  margin: 5px;
}

.arrow:hover {
  border-radius: 100%;
  box-shadow: 0 0 5px #F7C350;
}

/*PAGE BOTTOM CONTENTS*/
.page-bottom {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #EDF2F6;
  padding-bottom: 30px;
}

/*TABLE CONTENTS*/
table {
  width: 55%;
  border-collapse: collapse;
  box-shadow: 0 0 10px #E6E9EF;
  padding: 0 20px;
}

th {
  background-color: #6F7E95;
  border-radius: 2px 2px 0 0;
  text-align: left;
  padding: 15px 0 15px 30px;
}

.table-edit {
  background-color: #7D8BA6;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  border: none;
  padding: 10px 15px;
  margin: 10px;
}

.table-edit:hover {
  background-color: #00C5ED;
}

.table-edit-icon {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: url(images/edit-light.svg) no-repeat;
  background-size: cover;
  vertical-align: -5px;
}

tbody {
  padding: 0 20px;
}

tr {
  background-color: #ffffff;
}

td {
  padding: 30px 20px;
  border-bottom: 1px solid #E6E9EF;
}

.table-hacky {
  width: 5%;
  border-bottom: none;
}

.table-lead {
  width: 30%;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: text-top;
  color: #6F7E95;
  padding-left: 20px;
}

.table-info {
  width: 60%;
  line-height: 145%;
  font-weight: 300;
  color: #354052;
  padding-right: 30px;
}

.hiring-lead {
  display: inline-block;
  height: 50px;
  width: 50px;
  background: url(images/hiring-lead.jpg) no-repeat;
  background-size: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 15px;
}




/*INNER ASIDE CONTENT*/
.inner-aside {
  width: 30%;
}

.social-links {
  width: 95%;
}

.social {
  display: flex;
  position: relative;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  box-shadow: 0 0 10px #E6E9EF;
  padding: 15px;
  margin: 0 0 20px 0
}

.social:hover {
  box-shadow: 0 0 5px #354052;
}

.social-icon {
  position: absolute;
  left: 15px;
  height: 30px;
  width: 30px;
}

.facebook {
  background-color: #3C5A99;
}

.facebook-icon {
  background: url(images/facebook.svg) no-repeat;
  background-size: cover;
}

.twitter {
  background-color: #1DA1F2;
}

.twitter-icon {
  height: 25px;
  background: url(images/twitter.svg) no-repeat;
  background-size: cover;
}

.consortium {
  background-color: #68D152;
}

.consortium-icon {
  background: url(images/consortium.svg) no-repeat;
  background-size: cover;
}

.social-text {
  font-weight: 700;
  font-size: 12px;
  color: #ffffff;
}


/*SUBSCRIPTIONS CONTAINER CONTENT*/
.subscription {
  border-bottom: 2px solid #E6E9EF;
  padding: 30px 0;
}

.sub-last {
  border-bottom: none;
}

.sub-icon {
  display: inline-block;
  height: 22px;
  width: 22px;
  vertical-align: middle;
  margin: 10px 0;
}

.link-icon {
  background: url(images/inner-aside-sprites.png) no-repeat 0 0;
  background-size: cover;
}

.share-icon {
  background: url(images/inner-aside-sprites.png) no-repeat 0 -24px;
  background-size: cover;
}

.telepathy-icon {
  background: url(images/inner-aside-sprites.png) no-repeat 0 -49px;
  background-size: cover;
}

.field-button {
  display: flex;
  justify-content: flex-start;
  margin: 15px 0;
}

.sub-title {
  color: #6F7E95;
  margin: 10px 0;
}

.subscription-field {
  display: inline-block;
  width: 65%;
  background-color: #ffffff;
  border-radius: 2px 0 0 2px;
  box-shadow: 0 0 10px #E6E9EF;
  padding: 15px;
}

.sub-field-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.email-field-text {
  width: 65%;
  font-size: 14px;
  color: #6D6F70;
  border: none;
  margin: 0;
  padding: 5px 15px;
}

.copy {
  width: 20%;
  color: #ffffff;
  background-color: #00C5ED;
  border: none;
  border-radius: 0 2px 2px 0;
  box-shadow: 0 0 10px #E6E9EF;
  padding: 15px;
  margin: 0;
}

.copy:hover {
  background-color: #68D152;
}




/*MEDIA BREAKS*/
@media screen and (max-width: 1360px) {
  .long-link {
    font-size: 12px;
  }
}



@media screen and (max-width: 1249px) {
  .long-link {
    font-size: 11px;
  }

  .circle {
    height: 120px;
    width: 120px;
  }

  .graph {
    height: 150px;
    width: 300px;
    background: url(images/graph.png) no-repeat;
    background-size: cover;
    margin: 20px;
  }
}

@media screen and (max-width: 1172px) {
  .nav-aside {
    display: none;
  }

  .main {
    max-width: 100%;
  }

  .data-visualization {
    flex-direction: column;
  }

  .circle {
    height: 150px;
    width: 150px;
  }

  .graph {
    height: 25vw;
    width: 50vw;
    background: url(images/graph.png) no-repeat;
    background-size: contain;
    margin-top: 50px;
  }

  .page-bottom {
    flex-direction: column;
    align-items: center;
  }

  table {
    width: 90%;
  }

  .table-info {
    padding-right: 100px;
  }

  .inner-aside {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 30px;
  }

  .social-links {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .social {
    width: 90%;
    margin: 20px 0;
  }

  .subscriptions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .subscription {
    width: 90%;
    padding: 0 0 30px 0;
  }

}

@media screen and (max-width: 990px) {
  .page-info {
    flex-direction: column;
  }

  .page-title-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 20px 0;
  }

  .page-buttons {
    margin: 0;
  }

  .page-tabs {
    padding-left: 50px;
  }

  .tab {
    display: none;
  }

  .table-info {
    padding-right: 50px;
  }
}

@media screen and (max-width: 900px) {
  .inner-aside {
    flex-direction: column;
    align-items: center;
  }

  .social-links {
    align-items: center;
    width: 60%;
  }

  .subscriptions-container {
    width: 60%;
  }

  .field-button {
    justify-content: center;
  }
}

@media screen and (max-width: 680px) {
  .add-new,
  .pulse-button,
  .grid-button {
    display: none;
  }

  h2 {
    text-align: center;
  }

  .data-circles {
    flex-direction: column;
    height: auto;
  }

  .graph {
    height: 40vw;
    width: 80vw;
    background: url(images/graph.png) no-repeat;
    background-size: contain;
    margin-top: 50px;
  }

  .table-info {
    padding-right: 0;
  }

  .social-links {
    width: 90%;
  }

  .subscriptions-container {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  tr {
    display: flex;
    flex-direction: column;
  }

  .table-hacky {
    display: none;
  }

  .table-lead {
    width: 90%;
    border-bottom: none;
    padding: 20px;
  }

  .table-info {
    width: 90%;
    margin: auto;
    padding: 0 10px 20px 20px;
  }

  .copy {
    width: 30%;
  }

  .subscription-field {
    width: 50%;
  }

  .email-field-text {
    width: 50%;
  }
}

@media screen and (max-width: 363px) {
  .page-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .page-button {
    margin: 10px;
  }

  .open-button {
    flex-basis: 90%;
  }

  .sub-title {
    font-size: 14px;
  }

  .telepathy-icon {
    height: 15px;
    width: 15px;
    background: url(images/inner-aside-sprites.png) no-repeat 0 -34px;
    background-size: cover;
  }
}
