body {
  display: flex;
  margin: 0;
}

/*TYPOGRAPHY*/
h1, h2, h3, h4, h5, h6, p, a, button, input, table {
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-indent: -9999px;
}

h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 10px;
}

h3 {}

h4 {
  color: #a9b4c6;
  font-size: 14px;
  font-weight: 400;
  margin: 10px 10px 10px 0;
}

h5 {}

h6 {
  color: #a9b4c6;
  font-size: 16px;
  font-weight: 400;
  margin: 10px;
}

p {
  font-size: 14px;
  margin: 0;
}

a {
  text-decoration: none;
  font-size: 14px;
}

/*PSEUDO CLASSES*/
a:hover {}

button:hover {}

.selected {}

/*ELEMENTS*/
.nav-aside {
  background-color: #384456;
  min-height: 100vh;
  width: 15%;
}

.recruiter-block {
  width: 100%;
  border-bottom: 2px inset #2d3849;
  margin-top: 40px;
  padding-bottom: 20px;
}

.recruiter-image {
  height: 100px;
  width: 100px;
  background: url(images/recruiter.jpg) no-repeat;
  background-size: cover;
  border-radius: 100%;
  margin: auto;
}

.recruiter-info {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.recruiter-block:hover .recruiter-name {
  color: #ffffff;
}

.recruiter-dropdown {
  background: url(images/recruiter-dropdown.svg) no-repeat;
  background-size: cover;
  height: 15px;
  width: 20px;
}

.recruiter-block:hover .recruiter-dropdown {
  background: url(images/recruiter-dropdown-hover.svg) no-repeat;
  background-size: cover;
}

.nav-main {
  max-width: 100%;
  border-bottom: 2px inset #2d3849;
  margin-top: 30px;
  padding: 0 20px 20px 30px;
}

.nav-link {
  color: #a9b4c6;
  font-size: 12px;
  font-weight: 700;
  line-height: 375%;
  text-transform: uppercase;
}

.nav-main-content {
  display: flex;
  align-items: center;
}

.nav-main-content:hover .nav-link {
  color: #ffffff;
}

.nav-icon {
  height: 18px;
  width: 18px;
  margin-right: 10px;
}

.icon-home {
  background: url(images/aside-sprites.png) no-repeat 0 0;
  background-size: cover;
}

.nav-home:hover .icon-home {
  background: url(images/aside-sprites.png) no-repeat 0 -20px;
  background-size: cover;
}

.icon-jobs {
  background: url(images/aside-sprites.png) no-repeat 0 -40px;
  background-size: cover;
}

.nav-jobs:hover .icon-jobs {
  background: url(images/aside-sprites.png) no-repeat 0 -60px;
  background-size: cover;
}

.icon-resumes {
  background: url(images/aside-sprites.png) no-repeat 0 -80px;
  background-size: cover;
}

.nav-resumes:hover .icon-resumes {
  background: url(images/aside-sprites.png) no-repeat 0 -100px;
  background-size: cover;
}


.icon-skills {
  background: url(images/aside-sprites.png) no-repeat 0 -120px;
  background-size: cover;
}

.nav-skills:hover .icon-skills {
  background: url(images/aside-sprites.png) no-repeat 0 -140px;
  background-size: cover;
}


.icon-calendar {
  background: url(images/aside-sprites.png) no-repeat 0 -161px;
  background-size: cover;
}

.nav-calendar:hover .icon-calendar {
  background: url(images/aside-sprites.png) no-repeat 0 -181px;
  background-size: cover;
}

.nav-admin {
  max-width: 100%;
  border-bottom: 2px solid #2d3849;
  margin-top: 30px;
  padding-bottom: 20px;
}

.nav-admin h4 {
  margin-left: 30px;
}

.nav-admin-content {
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.nav-admin-content:hover .nav-link {
  color: #ffffff;
}

.icon-users {
  background: url(images/aside-sprites.png) no-repeat 0 -205px;
  background-size: cover;
}

.nav-users:hover .icon-users {
  background: url(images/aside-sprites.png) no-repeat 0 -225px;
  background-size: cover;
}

.icon-locations {
  background: url(images/aside-sprites.png) no-repeat 0 -245px;
  background-size: cover;
}

.nav-locations:hover .icon-locations {
  background: url(images/aside-sprites.png) no-repeat 0 -265px;
  background-size: cover;
}

.icon-archenemies {
  background: url(images/aside-sprites.png) no-repeat 0 -285px;
  background-size: cover;
}

.nav-archenemies:hover .icon-archenemies {
  background: url(images/aside-sprites.png) no-repeat 0 -305px;
  background-size: cover;
}

.nav-selected {
  border-left: 5px solid #436da0;
  width: 100%;
}

.nav-listings {
  padding-left: 25px;
}

.nav-link-listings {
  color: #ffffff;
}

.icon-listings {
  background: url(images/aside-sprites.png) no-repeat 0 -348px;
  background-size: cover;
}

.nav-listings:hover .icon-listings {
  background: url(images/aside-sprites.png) no-repeat 0 -348px;
  background-size: cover;
}

.icon-social {
  background: url(images/aside-sprites.png) no-repeat 0 -367px;
  background-size: cover;
}

.nav-social:hover .icon-social {
  background: url(images/aside-sprites.png) no-repeat 0 -387px;
  background-size: cover;
}

.nav-categories {
  max-width: 100%;
  margin-top: 30px;
  padding: 0 20px 20px 30px;
}

.checkboxes {
  display: flex;
  align-items: center;
}

.checkboxes:hover .nav-link {
  color: #ffffff;
}

.box-icon {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

.checked {
  color: #ffffff;
}

.sidekicks {
  background: url(images/checkbox-sprites.png) no-repeat 0 0;
  background-size: cover;
}

.henchmen {
  background: url(images/checkbox-sprites.png) no-repeat 0 -27px;
  background-size: cover;
}

.goons {
  background: url(images/checkbox-sprites.png) no-repeat 0 -55px;
  background-size: cover;
}

.cannon-fodder {
  background: url(images/checkbox-sprites.png) no-repeat 0 -80px;
  background-size: cover;
}


/*MAIN*/
.main {
  min-height: 100vh;
  width: 85%;
}

/*Top nav bar*/
.top-nav {
  display: flex;
  width: 100%;
  height: 80px;
}

.main-icon {
  height: 30px;
  width: 30px;
}

.top-buttons {
  display: inline-block;
  height: 100%;
  width: 80px;
  border-bottom: 1px solid #e6e9ef;
}

.dropdown-menu {
  border-right: 1px solid #e6e9ef;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger {
  height: 20px;
  width: 30px;
  background: url(images/hamburger-sprites.png) no-repeat 0 0;
  background-size: cover;
  margin: auto;
}

.dropdown-menu:hover .hamburger {
  background: url(images/hamburger-sprites.png) no-repeat 0 -27px;
  background-size: cover;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-grow: 2;
  border-right: 1px solid #e6e9ef;
  border-bottom: 1px solid #e6e9ef;
}

.search {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: url(images/top-nav-sprites.png) no-repeat 0 0;
  background-size: cover;
  margin: 0 10px 0 20px;
}

.search-bar:hover .search {
  background: url(images/top-nav-sprites.png) no-repeat 0 -26px;
  background-size: cover;
}

.search-field {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  height: 50%;
  flex-grow: 2;
  border: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add-new {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #e6e9ef;
}

.add-new:hover {
  background-color: #4891F7;
}

.plus {
  background: url(images/top-nav-sprites.png) no-repeat 0 -80px;
  background-size: cover;
}

.add-new:hover .plus {
  background: url(images/top-nav-sprites.png) no-repeat 0 -120px;
  background-size: cover;
}

.pulse-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #e6e9ef;
}

.pulse-button:hover {
  background-color: #4891F7;
}

.pulse {
  height: 40px;
  width: 40px;
  background: url(images/top-nav-sprites.png) no-repeat 0 -212px;
  background-size: cover;
}

.pulse-button:hover .pulse {
  background: url(images/top-nav-sprites.png) no-repeat 0 -264px;
  background-size: cover;
}

.grid-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-button:hover {
  background-color: #4891F7;
}

.grid {
  background: url(images/top-nav-sprites.png) no-repeat 0 -240px;
  background-size: cover;
}

.grid-button:hover .grid {
  background: url(images/top-nav-sprites.png) no-repeat 0 -280px;
  background-size: cover;
}

/*Page info*/
.page-info {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.page-title-contents {
  width: 50%;
  margin-left: 20px;
}

.location-info {
  display: flex;
  align-items: center;
}

.location-dark {
  height: 20px;
  width: 20px;
  background: url(images/location-dark.svg) no-repeat;
  background-size: cover;
  margin-right: 5px;
}

.location-link {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #4891F7;
  margin-left: 5px;
}

.page-buttons {
  width: 50%;
}

.page-button {
  border: 2px solid #c8cbd1;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 5px;
}

.page-icon {
  height: 20px;
  width: 20px;
}

.open-button-text {
  display: inline-block;
  vertical-align: top;
  margin: 3px 5px 0 0 ;
}

.green-dot {
  display: inline-block;
  background: url(images/info-sprites.png) no-repeat 0 0;
  background-size: cover;
}

.bookmark-icon {
  background: url(images/info-sprites.png) no-repeat 0 -22px;
  background-size: cover;
}

.bookmark-icon:hover {
  background: url(images/info-sprites.png) no-repeat 0 -45px;
  background-size: cover;
}

.edit-icon {
  background: url(images/info-sprites.png) no-repeat 0 -68px;
  background-size: cover;
}

.edit-icon:hover {
  background: url(images/info-sprites.png) no-repeat 0 -91px;
  background-size: cover;
}

.delete-icon {
  background: url(images/info-sprites.png) no-repeat 0 -113px;
  background-size: cover;
}

.delete-icon:hover {
  background: url(images/info-sprites.png) no-repeat 0 -136px;
  background-size: cover;
}













@media screen and (min-width: 900px) {

}
